#footer {
  height: 410px;
}

#footer .wrap {

}

#footer .wrap ul {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  padding: 0 15px;
  height: 330px;
}

#footer .wrap ul li {
  width: calc(100% / 3);
}

#footer .wrap ul li:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer .wrap ul li:nth-of-type(1) h2 {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

#footer .wrap ul li:nth-of-type(1) p {
  color: #909090;
  font-size: 14px;
}

#footer .wrap ul li:nth-of-type(1) address {
  color: #909090;
  font-size: 14px;
}

#footer .wrap ul li:nth-of-type(1) a {
  display: flex;
  align-items: center;
  color: #909090;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

#footer .wrap ul li:nth-of-type(1) a::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
  background-image: url(../img/svg/envelope-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer .wrap ul li:nth-of-type(1) a:hover {
  color: #333;
}

#footer .wrap ul li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}

#footer .wrap ul li:nth-of-type(2) h3 {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
}

#footer .wrap ul li:nth-of-type(2) h3::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
  background-image: url(../img/svg/envelope-regular.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer .wrap ul li:nth-of-type(2) p {
  font-size: 14px;
  color: #909090;
  line-height: 1.7;
  margin: 5px 0;
}

#footer .wrap ul li:nth-of-type(2) input {
  padding: 7px 12px 5px;
  font-size: 13px;
  color: #909090;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

#footer .wrap ul li:nth-of-type(2) input:focus {
  outline: none;
  background-color: #1cccca;
  color: #fff;
}

#footer .wrap ul li:nth-of-type(2) textarea {
  resize: none;
  padding: 7px 12px 5px;
  height: 78px;
  font-size: 13px;
  color: #909090;
  margin-top: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

#footer .wrap ul li:nth-of-type(2) textarea:focus {
  outline: none;
  background-color: #1cccca;
  color: #fff;
}

#footer .wrap ul li:nth-of-type(2) label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #909090;
  font-size: 14px;
}

#footer .wrap ul li:nth-of-type(2) label input {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  margin-right: 5px;
}

#footer .wrap ul li:nth-of-type(2) label a {
  text-decoration: underline;
  color: #909090;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

#footer .wrap ul li:nth-of-type(2) label a:hover {
  color: #333;
}

#footer .wrap ul li:nth-of-type(2) .mail {
  display: flex;
}

#footer .wrap ul li:nth-of-type(2) .mail input {
  padding: 7px 12px 5px;
  font-size: 13px;
  color: #909090;
  border: 1px solid #ccc;
  width: calc(100% - 62px);
  height: 35px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

#footer .wrap ul li:nth-of-type(2) .mail input:focus {
  outline: none;
  background-color: #1cccca;
  color: #fff;
}

#footer .wrap ul li:nth-of-type(2) .mail button {
  all: unset;
  padding: 7px 12px 5px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  background-color: #333;
  color: #fff;
  border-color: #333;
  width: 62px;
  height: 35px;
  box-sizing: border-box;
}

#footer .wrap ul li:nth-of-type(2) .mail button:hover {
  background-color: #1cccca;
  border-color: #1cccca;
}

#footer .wrap ul li:nth-of-type(3) {

}

#footer .wrap ul li:nth-of-type(3) div {
  height: calc(100% / 3);
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(1) {

}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(1) h3 {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(1) h3::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url(../img/svg/clock-regular.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(1) p {
  font-size: 14px;
  color: #909090;
  line-height: 1.7;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(2) {

}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(2) h3 {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(2) h3::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(../img/svg/calculator-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(2) p {
  font-size: 14px;
  color: #909090;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(3) {

}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(3) h3 {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(3) h3::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(../img/svg/credit-card-regular.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer .wrap ul li:nth-of-type(3) div:nth-of-type(3) p {
  font-size: 14px;
  color: #909090;
}

#footer .wrap .copyright {
  height: 60px;
  border-top: 1px solid #909090;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .wrap .copyright p {
  font-size: 11px;
}

#footer .top-bg {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

#footer .top-bg .top {
  font-size: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg/chevron-up-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}