/* font */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* layout style  */
.wrap {
  width: 1170px;
  margin: 0 auto;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
}

/* text style */
.h1 {
  font-size:80px;
}

.h2 {
  font-size:52px;
}

.h3 {
  font-size:35px;
}

.h4 {
  font-size:25px;
}

.h5 {
  font-size:20px;
}

.h6 {
  font-size:18px;
}

.p {
  font-size:18px;
}

.sm {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.xs {
  font-size: 12px;
}

.white {
  color: #fff;
}

.gray {
  color: #aeb0b2;
}

.black {
  color: #000;
}

.btn16 {
  font-size: 14px;
}

.hide {
  display: none !important;
}

.more {
  border: 1px solid #fff;
  line-height: 1;
  padding: 17px 28px;
  color: #fff;
  transition: 0.5s;
}

.more::after {
  content: "+";
  margin-left: 10px;
  transition: 0.5s;
  position: relative;
  left: 0px;
}

.more:hover {
  background-color: #fff;
  color: #000;
}

.more:hover::after {
  left: 10px;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}