/* reset */
html,body,section {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  font-style: normal;
}

/* font */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* layout style  */
.wrap {
  width: 1170px;
  margin: 0 auto;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
}

/* text style */
.h1 {
  font-size:80px;
}

.h2 {
  font-size:52px;
}

.h3 {
  font-size:35px;
}

.h4 {
  font-size:25px;
}

.h5 {
  font-size:20px;
}

.h6 {
  font-size:18px;
}

.p {
  font-size:18px;
}

.sm {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.xs {
  font-size: 12px;
}

.white {
  color: #fff;
}

.gray {
  color: #aeb0b2;
}

.black {
  color: #000;
}

.btn16 {
  font-size: 14px;
}

.hide {
  display: none !important;
}

.more {
  border: 1px solid #fff;
  line-height: 1;
  padding: 17px 28px;
  color: #fff;
  transition: 0.5s;
}

.more::after {
  content: "+";
  margin-left: 10px;
  transition: 0.5s;
  position: relative;
  left: 0px;
}

.more:hover {
  background-color: #fff;
  color: #000;
}

.more:hover::after {
  left: 10px;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

/* custom */
body {

}

header {
  position: absolute;
  width: 100%;
}

header nav {
  width: 1440px;
  margin: 0 auto;
  height: 70px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
}

header h1 {
  grid-column: 1;
  grid-row: 2;
  font-size: 22px;
}

header ul.gnb {
  display: flex;
  gap: 20px;
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  font-size: 16px;
  color: white;
}

header ul.enb {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 12px;
  background-color: #334242;
  margin-left: calc((1903px - 1440px) / -2);
  margin-right: calc((1903px - 1440px) / -2);
  padding-right: calc((1903px - 1440px) / 2);
  padding-left: calc((1903px - 1440px) / 2);
  height: 100%;
  align-items: center;
}

header ul.gnb>li {

}

header ul.gnb>li>a.sub {
  
}

header ul.gnb li ul.sub {
  display: none;
  position: absolute;
  background-color: #fff;
  /* padding: 15px; */
}

header ul.gnb li ul.sub li {

}

header ul.gnb li ul.sub li a {
  display: block;
  width: 100px;
  padding: 8px 15px;
}

header ul.gnb li:hover ul.sub {
  display: block;
}

header ul.gnb li ul.sub li:hover>a {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

header ul.enb li a {
  color: white;
}

body>div {
  height: 100%;
  display: flex; /* 정렬할 요소의 부모에게 지정.기본으로 수평정렬이 됨 */
  justify-content: center; /* 좌우정렬:중앙 */
  align-items: center; /* 수직정렬:중앙 */
  background-image: url(../img/title.png),linear-gradient(to top, #7ba9c7 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 20%, 100%;
  background-image: url(../img/title.png), url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

body>div h2 {
  font-size: 36px;
  color: white;
  /* background-color: #666;
  border-radius: 10px;
  padding: 10px;
  line-height: 1; */
}

body>div a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 0;
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1px;
}

body>div a::before {
  content: "";
  width: 37%;
  height: 37%;
  display: block;
  background-image: url(../img/svg/arrow-right-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
  background-position: center;
}

body>div a::after {
  content: "● ●";
  color: #fff;
  font-size: 3px;
  transform: translateX(-1px) rotate(90deg);
  transform-origin: 50% 50%;
  line-height: 1;
  animation-name: colorC;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scroll {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 50px;
  }
}

@keyframes colorC {
  0% {
    color: #fff;
  }
  100% {
    color: yellow;
  }
}

body>div h2::before {
  content: "";
}

body>div h2::after {
  content: "";
}

/* faq */
main {
  
}

section {
  min-height:700px;
  height: 100vh;
}

#faq {
  display: flex;
  align-items: center;
  background-image: url(../img/faq_bg2.jpg);
  background-position: center;
  background-size: cover;
}


#faq div {
  flex-direction: column;
  gap: 50px;
  height: 100%;
}

#faq div h2 {

}

#faq div p {
  line-height: 1.6;
}

#faq div ul {
  display: flex;
  gap: 20px;
}

#faq div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 40px;
  width: 200px;
  border: 1px solid transparent;
}

#faq div ul li h3 {
  font-size: 18px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px;
}

#faq div ul li::before {
  content: "1";
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#faq div ul li:nth-child(2)::before {
  content: "2";
}

#faq div ul li:nth-child(3)::before {
  content: "3";
}

#faq div ul li:nth-child(4)::before {
  content: "4";
}

#faq div ul li p {
  line-height: 1.6;
  font-size: 13px;
}

#faq div a {
  
}

#faq div ul li:hover {
  border: 1px solid blue;
}

#faq div ul li:hover h3 {
  color: blue;
}

/* portfolio */
#portfolio {
  background-color: #363B3E;
  /* background-color: #fff; */
}

#portfolio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

#portfolio div h2 {
  color: #fff
}

#portfolio div p {
  margin-top: -30px;
  /* transform: translateY(-100%); */
}

#portfolio div ul {
  display: flex;
  flex-wrap: wrap;
}

#portfolio div ul li {
  width: 25%;
  height: 214px;
}

#portfolio div ul li span {
  
}

#portfolio div ul li:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.4);
}

#portfolio div ul li:nth-child(even) {
  background-color: rgba(0, 0, 255, 0.4);
}

#portfolio div ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 1s;
}

#portfolio div ul li a span {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  display: block;
  /* display: none; */
  opacity: 0;
  transition: 0.5s;
  transform: translateY(10%);
}

#portfolio div ul li:hover a {
  background-color: rgba(0, 0, 0, 0.4);
}

#portfolio div ul li:hover a span {
  opacity: 1;
  transform: translateY(0%);
}

#portfolio div ul li a span:hover {
  background-color: #fff;
  color: #000;
}

#portfolio div ul li:nth-child(1) {
  background-image: url(../img/dia.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(2) {
  background-image: url(../img/donga.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(3) {
  background-image: url(../img/music.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(4) {
  background-image: url(../img/ver3.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(5) {
  background-image: url(../img/coffee.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(6) {
  background-image: url(../img/esquisse.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(7) {
  background-image: url(../img/spotify.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(8) {
  background-image: url(../img/ventus\ auto.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(9) {
  background-image: url(../img/anadu.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(10) {
  background-image: url(../img/stag.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(11) {
  background-image: url(../img/ver3-2.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div ul li:nth-child(12) {
  background-image: url(../img/kguard.jpg);
  background-position: center;
  background-size: cover;
}

#portfolio div > a {
  padding: 10px 25px;
  position: absolute;
  right: 0px;
  top: 90px;
}

/* why */
#why {
  background-color: #ddd;
  background-image: url(../img/woman.png), url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: right bottom, center;
  background-repeat: no-repeat;
  background-size: 25%, cover;
}

#why div {
  height: 700px;
}

#why div h2 {
  text-align: center;
}

#why div h2 span {

}

#why div ul {
  
}

#why div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#why div ul li h3 {
  
}

#why div ul li h3::before {
  content: "";
  width: 81px;
  height: 69px;
  display: block;
  background-image: url(../img/svg/display-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

#why div ul li p {
  text-align: center;
}

